@import 'tailwindcss';
@import './variables.css';
@import '../components/typography.css';

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100dvh;
	width: 100%;
	overflow-x: hidden;
	padding-bottom: 70px;
}

@media (min-width: 1024px) {
	body {
		padding-bottom: 0;
	}
}

/* Стили для мобильного меню */
.burger-icon {
	position: relative;
	width: 24px;
	height: 24px;
}
